<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE642E211A1F9A3D00901B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE642E3A1A1F9A3E00901B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE642E4E1A1F9A5100901B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE642E5C1A1F9A5100901B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
